main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.bto {
  background-color: #303030;
  border-radius: 5px;
  color: #ffffff;
  border: solid #ffffff 1px;
  cursor: pointer;
  padding: 10px;
  margin: 15px;
}

.bto:hover {
  background-color: #a71c19;
}
