<main class="w-100 d-flex flex-column align-items-center">
    <section style="margin: 30px; border: 2px solid white;">
        <div class=" d-flex flex-column align-items-center" style="margin: 20px; color: white;">
            <h3 style="margin: 10px; text-align: center;">31/05/2024</h3>
            <h4 style="margin: 10px; text-align: center;">Descubra um mundo de mistério e romance: Lançamento Digital de "Garota de Noite"</h4>
            <div class="d-flex flex-column align-items-center" style="margin: 10px;">
                <img style="width: 300px; margin-bottom: 10px;" [src]="lancamento" alt="lançamento" />
                <article class=" d-flex flex-column align-items-center">
                    <p>É com grande entusiasmo que anuncio o lançamento digital do meu mais recente romance de ficção, "Garota de Noite".</p>
                    <p>Embarque comigo netsa jornada envolvente por entre as sombras da noite, onde o mistério se entrelaça com o romance em um cenário repleto de surpresas e reviravoltas. Ambientado em uma metrópole pulsante e misteriosa, você será transportado para um universo onde o sobrenatural se entrelaça com a realidade.</p>
                    <p>Este lançamento digital te oferece uma nova forma de se perder nas páginas deste emocionante romance. Com acesso instantâneo através de dispositivos eletrônicos, você poderá mergulhar na trama de "Garota de Noite" a qualquer hora e em qualquer lugar.</p>
                    <p>Prepare-se para se apaixonar, se surpreender e se emocionar enquanto desvenda os segredos que habitam as páginas deste romance envolvente.</p>
                    <p> Adquira já sua cópia digital de "Garota de Noite".</p>
                </article>
            </div>
        </div>
    </section>

    <section style="margin: 30px; border: 2px solid white;">
        <div class=" d-flex flex-column align-items-center" style="margin: 20px; color: white;">
            <h3 style="margin: 10px; text-align: center;">15/04/2024</h3>
            <h4 style="margin: 10px; text-align: center;">Próximo Passo: Conclusão da Diagramação do livro</h4>
            <div class="d-flex flex-column align-items-center" style="margin: 10px;">
                <img style="width: 100%;max-width: 500px; margin-bottom: 10px;" [src]="diagramacao" alt="Capítulos Diagramação" />
                <article class=" d-flex flex-column align-items-center">
                    <p>Mais uma etapa rumo ao lançamento do livro. Hoje, celebro a conclusão da diagramação, agora estamos ainda mais do momento em que vocês poderão mergulhar nesta história.</p>
                    <p>Depois de meses de trabalho dedicado e meticuloso, tenho  o prazer de anunciar que todos os 47 capítulos de "Garota da Noite" foram cuidadosamente diagramados e preparados para proporcionar uma experiência de leitura envolvente e imersiva. Cada página foi projetada com atenção aos detalhes, desde a escolha da fonte até o layout das ilustrações, com o objetivo de garantir que a narrativa seja apresentada da melhor forma possível.</p>
                    <p>Para celebrar este marco, gostaría de compartilhar com você uma prévia exclusiva do interior do livro. Na imagem, vocês podem ver a lista dos 47 capítulos que compõem a história. Cada capítulo promete aventuras, mistérios e reviravoltas que te manterá ansiosos para virar a próxima página.</p>
                </article>
            </div>
        </div>
    </section>

    <section style="margin: 30px; border: 2px solid white;">
        <div class=" d-flex flex-column align-items-center" style="margin: 20px; color: white;">
            <h3 style="margin: 10px; text-align: center;">29/02/2024</h3>
            <h4 style="margin: 10px; text-align: center;">Revelada: A Capa de "Garota da Noite"</h4>
            <div class="d-flex flex-column align-items-center" style="margin: 10px;" e >
                <img style="width: 100%;max-width: 500px; margin-bottom: 10px;" [src]="ilustracaoCapa" alt="Ilustração da Capa" />
                <article class=" d-flex flex-column align-items-center">
                    <p>Tenho uma notícia empolgante sobre o lançamento do livro. Depois de meses de antecipação e trabalho, posso revelar a ilustração final da capa, que captura a essência e a atmosfera do romance.</p>
                    <p>Agora, com a ilustração finalizada pela editora, posso finalmente compartilhar um vislumbre dessa história. A capa apresenta uma cena mergulhada em sombras e mistério, com uma figura enigmática que personifica a aura do livro.</p>
                    <p>Esta conquista é um marco significativo na jornada rumo ao lançamento de "Garota da Noite". Estou grato pela dedicação e habilidade da equipe editorial que tornou possível transformar isso em realidade.</p>
                </article>
            </div>
        </div>
    </section>

    <div>
        <div class="bto" (click)="navegar()">Onde Comprar</div>
    </div>

    <div  class="border-bottom w-100" style="margin-bottom: 30px;"></div>
</main>