<main class="pagina">
  <section class="lado_capa">
    <div class="bloco">
      <div class="cover_book">
        <img id="capa" [src]="capa" alt="capa do livro" />
      </div>

      <div>
        <div class="bto" (click)="navegar()">Onde Comprar</div>
      </div>
    </div>

    <hr />

    <div class="bloco_ficha">
      <h4 class="branco">Gênero</h4>
      <div>{{ genero }}</div>
    </div>

    <hr />

    <div class="bloco_ficha">
      <h4 class="branco">Ficha Técnica</h4>
      <div><span class="branco">Lançamento:</span> {{ data }}</div>
      <div><span class="branco">Título Original:</span> {{ titulo }}</div>
      <div><span class="branco">Autor:</span> {{ autor }}</div>
      <div><span class="branco">Editora:</span> {{ editora }}</div>
      <div><span class="branco">Dimensões:</span> {{ formato }}</div>
      <div><span class="branco">Número de Páginas:</span> {{ paginas }}</div>
      <div><span class="branco">Acabamento:</span> {{ acabamento }}</div>
      <div><span class="branco">ISBN-10:</span> 652547857X</div>
      <div><span class="branco">ISBN-13:</span> 978-6525478579</div>
    </div>
  </section>

  <section class="lado_resumo">
    <div class="sinopse">
      {{ resumo }}
    </div>
  </section>

    <div class="w-100 d-flex flex-column align-items-center" style="width: 90%; margin: 20px 0;" routerLink="/personagens">
      <h2 style="color: white; cursor: pointer;">Conheça os Personagens</h2>
      <img style="width: 50%; max-width: 500px; cursor: pointer;" [src]="imageUrls[currentImageIndex]" alt="Imagem"  routerLink="/personagens">
  </div>

  <div  class="border-bottom w-100" style="margin: 30px"></div>
</main>
