<main>
  <section class="bloco_personagens">
    <app-pesonagem
      [imagem]="imagemValeria"
      nome="Valéria"
      [texto1]="texto_Valeria1"
    ></app-pesonagem>

    <app-pesonagem
      [imagem]="imagemWillian"
      nome="Wilian"
      [texto1]="texto_Willian1"
    ></app-pesonagem>

    <app-pesonagem
      [imagem]="imagemMirelly"
      nome="Mirelly (Srta M)"
      [texto1]="texto_Mirelly1"
    ></app-pesonagem>

    <app-pesonagem
      [imagem]="imagemCesar"
      nome="César"
      [texto1]="texto_Cesar1"
    ></app-pesonagem>

    <app-pesonagem
      [imagem]="imagemSuzane"
      nome="Suzane"
      [texto1]="texto_Suzane1"
    ></app-pesonagem>

    <app-pesonagem
      [imagem]="imagemVictor"
      nome="Victor"
      [texto1]="texto_Victor1"
    ></app-pesonagem>

    <app-pesonagem
      [imagem]="imagemEzequiel"
      nome="Ezequiel"
      [texto1]="texto_Ezequiel1"
    ></app-pesonagem>

    <app-pesonagem
      [imagem]="imagemKarol"
      nome="Karol"
      [texto1]="texto_Karol1"
    ></app-pesonagem>
  </section>
</main>
