<main>
  <section class="bloco_personagens">
    <app-pesonagem
      [imagem]="imagemValeria"
      nome="Valéria"
      [texto1]="texto_Valeria1"
    ></app-pesonagem>

    <app-pesonagem
      [imagem]="imagemWillian"
      nome="Wilian"
      [texto1]="texto_Willian1"
    ></app-pesonagem>

    <app-pesonagem
      [imagem]="imagemMirelly"
      nome="Mirelly (Srta M)"
      [texto1]="texto_Mirelly1"
    ></app-pesonagem>

    <app-pesonagem
      [imagem]="imagemDaniel"
      nome="Daniel"
      [texto1]="texto_Daniel"
    ></app-pesonagem>

    <app-pesonagem
      [imagem]="imagemCesar"
      nome="César"
      [texto1]="texto_Cesar1"
    ></app-pesonagem>

    <app-pesonagem
      [imagem]="imagemVictor"
      nome="Victor"
      [texto1]="texto_Victor1"
    ></app-pesonagem>

    <app-pesonagem
      [imagem]="imagemIvan"
      nome="Ivan"
      [texto1]="texto_Ivan1"
    ></app-pesonagem>

    <app-pesonagem
      [imagem]="imagemMariana"
      nome="Mariana"
      [texto1]="texto_Mariana"
    ></app-pesonagem>

    <app-pesonagem
      [imagem]="imagemHudson"
      nome="Hudson"
      [texto1]="texto_Hudson"
    ></app-pesonagem>

    <app-pesonagem
      [imagem]="imagemGustavo"
      nome="Gustavo"
      [texto1]="texto_Gustavo"
    ></app-pesonagem>

    <app-pesonagem
      [imagem]="imagemSuzane"
      nome="Suzane"
      [texto1]="texto_Suzane1"
    ></app-pesonagem>

    <app-pesonagem
      [imagem]="imagemEzequiel"
      nome="Ezequiel"
      [texto1]="texto_Ezequiel1"
    ></app-pesonagem>

    <app-pesonagem
      [imagem]="imagemKarol"
      nome="Karol"
      [texto1]="texto_Karol1"
    ></app-pesonagem>

    <app-pesonagem
      [imagem]="imagemNatalia"
      nome="Natália"
      [texto1]="texto_Natalia"
    ></app-pesonagem>

    <app-pesonagem
      [imagem]="imagemMarcos"
      nome="Marcos"
      [texto1]="texto_Marcos"
    ></app-pesonagem>

    <app-pesonagem
      [imagem]="imagemCintia"
      nome="Cíntia"
      [texto1]="texto_Cintia"
    ></app-pesonagem>

    <app-pesonagem
      [imagem]="imagemAkin"
      nome="Akin e Isaac"
      [texto1]="texto_Akin_Isaac1"
    ></app-pesonagem>
  </section>

  <div class="d-flex justify-content-center">
      <div class="bto" (click)="navegar()">Onde Comprar</div>
  </div>

  <div class="d-flex justify-content-center">
      <div class="bto" routerLink="/depoimentos">Ver Depoimentos</div>
  </div>

    <div  class="border-bottom w-100" style="margin-bottom: 30px;"></div>
</main>


