<main class="w-100 d-flex flex-column align-items-center">
  <div
    class="mt-4 d-flex flex-column align-items-center text-white"
    style="min-width: 320px; width: 50%; max-width: 500px"
  >
    <section class="p-3">
      <div>
        <p style="text-align: justify">"{{ texto_1 }}"</p>
      </div>
      <div class="d-flex w-100 justify-content-end p-2 border-bottom">
        <strong class="text-danger">{{ nome_1 }}</strong>
      </div>
    </section>

    <section class="p-3">
      <div>
        <p style="text-align: justify">"{{ texto_2 }}"</p>
      </div>
      <div class="d-flex w-100 justify-content-end p-2 border-bottom">
        <strong class="text-danger">{{ nome_2 }}</strong>
      </div>
    </section>
  </div>
</main>
