/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.rtl.min.css";

.bto {
    background-color: #303030;
    border-radius: 5px;
    color: #ffffff;
    border: solid #ffffff 1px;
    cursor: pointer;
    padding: 10px;
    margin: 15px;
}